In [33]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [34]:
#all changed to train need to also be done on test

In [35]:
train = pd.read_csv("./datasets/train.csv")
test = pd.read_csv("./datasets/test.csv")

In [36]:
train.shape

(2051, 81)

In [37]:
#what column is missing
set(train)- set(test)

{'SalePrice'}

In [38]:
train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [39]:
#set id as index
train.set_index("Id", inplace = True)
test.set_index("Id", inplace = True)

In [40]:
#Check for null values
train.isnull().sum().sort_values(ascending = False)

Pool QC         2042
Misc Feature    1986
Alley           1911
Fence           1651
Fireplace Qu    1000
                ...
1st Flr SF         0
Electrical         0
Central Air        0
Heating QC         0
PID                0
Length: 80, dtype: int64

In [41]:
## dont do this, just subbing zeros in for na for sake of exercise fill missing values with something useful
train.fillna(0, inplace = True)
test.fillna(0, inplace = True)

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2051 entries, 109 to 10
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              2051 non-null   int64
 1   MS SubClass      2051 non-null   int64
 2   MS Zoning        2051 non-null   object
 3   Lot Frontage     2051 non-null   float64
 4   Lot Area         2051 non-null   int64
 5   Street           2051 non-null   object
 6   Alley            2051 non-null   object
 7   Lot Shape        2051 non-null   object
 8   Land Contour     2051 non-null   object
 9   Utilities        2051 non-null   object
 10  Lot Config       2051 non-null   object
 11  Land Slope       2051 non-null   object
 12  Neighborhood     2051 non-null   object
 13  Condition 1      2051 non-null   object
 14  Condition 2      2051 non-null   object
 15  Bldg Type        2051 non-null   object
 16  House Style      2051 non-null   object
 17  Overall Qual     2051 non-null   int64
 18  Overall Cond     2051 non-null   int64
 19  Year Built       2051 non-null   int64
 20  Year Remod/Add   2051 non-null   int64
 21  Roof Style       2051 non-null   object
 22  Roof Matl        2051 non-null   object
 23  Exterior 1st     2051 non-null   object
 24  Exterior 2nd     2051 non-null   object
 25  Mas Vnr Type     2051 non-null   object
 26  Mas Vnr Area     2051 non-null   float64
 27  Exter Qual       2051 non-null   object
 28  Exter Cond       2051 non-null   object
 29  Foundation       2051 non-null   object
 30  Bsmt Qual        2051 non-null   object
 31  Bsmt Cond        2051 non-null   object
 32  Bsmt Exposure    2051 non-null   object
 33  BsmtFin Type 1   2051 non-null   object
 34  BsmtFin SF 1     2051 non-null   float64
 35  BsmtFin Type 2   2051 non-null   object
 36  BsmtFin SF 2     2051 non-null   float64
 37  Bsmt Unf SF      2051 non-null   float64
 38  Total Bsmt SF    2051 non-null   float64
 39  Heating          2051 non-null   object
 40  Heating QC       2051 non-null   object
 41  Central Air      2051 non-null   object
 42  Electrical       2051 non-null   object
 43  1st Flr SF       2051 non-null   int64
 44  2nd Flr SF       2051 non-null   int64
 45  Low Qual Fin SF  2051 non-null   int64
 46  Gr Liv Area      2051 non-null   int64
 47  Bsmt Full Bath   2051 non-null   float64
 48  Bsmt Half Bath   2051 non-null   float64
 49  Full Bath        2051 non-null   int64
 50  Half Bath        2051 non-null   int64
 51  Bedroom AbvGr    2051 non-null   int64
 52  Kitchen AbvGr    2051 non-null   int64
 53  Kitchen Qual     2051 non-null   object
 54  TotRms AbvGrd    2051 non-null   int64
 55  Functional       2051 non-null   object
 56  Fireplaces       2051 non-null   int64
 57  Fireplace Qu     2051 non-null   object
 58  Garage Type      2051 non-null   object
 59  Garage Yr Blt    2051 non-null   float64
 60  Garage Finish    2051 non-null   object
 61  Garage Cars      2051 non-null   float64
 62  Garage Area      2051 non-null   float64
 63  Garage Qual      2051 non-null   object
 64  Garage Cond      2051 non-null   object
 65  Paved Drive      2051 non-null   object
 66  Wood Deck SF     2051 non-null   int64
 67  Open Porch SF    2051 non-null   int64
 68  Enclosed Porch   2051 non-null   int64
 69  3Ssn Porch       2051 non-null   int64
 70  Screen Porch     2051 non-null   int64
 71  Pool Area        2051 non-null   int64
 72  Pool QC          2051 non-null   object
 73  Fence            2051 non-null   object
 74  Misc Feature     2051 non-null   object
 75  Misc Val         2051 non-null   int64
 76  Mo Sold          2051 non-null   int64
 77  Yr Sold          2051 non-null   int64
 78  Sale Type        2051 non-null   object
 79  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(27), object(42)
memory usage: 1.3+ MB

Feature engineering

In [43]:
#one - hotencode values of neighborhood
train_dummy = pd.get_dummies(train[["Neighborhood"]])
test_dummy = pd.get_dummies(test[["Neighborhood"]])

In [44]:
train_dummy

,Neighborhood_Blmngtn,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
Id,,,,,,,,,,,,,,,,,,,,,
109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
153,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
785,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
916,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
test_dummy

,Neighborhood_Blmngtn,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_Greens,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
Id,,,,,,,,,,,,,,,,,,,,,
2658,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2414,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1989,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
625,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1373,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
# 2 neighborhoods arent in our test set
set(train_dummy) - set(test_dummy)

{'Neighborhood_GrnHill', 'Neighborhood_Landmrk'}

In [47]:
missing_col_train = list(set(test_dummy) - set(train_dummy))
missing_col_test = list(set(train_dummy) - set(test_dummy))

print(f"Columns missing from train: {missing_col_train}")
print(f"Columns missing from test: {missing_col_test}")

Columns missing from train: []
Columns missing from test: ['Neighborhood_GrnHill', 'Neighborhood_Landmrk']

In [48]:
#filling missing neighborhood columns as zero so the train and test sets have the same size
for col in missing_col_test:
    test_dummy[col] = 0

In [49]:
#check to see if it works
set(train_dummy) - set(test_dummy)

set()

In [50]:
#drop one neighborhood col to be a reference column
train_dummy.drop(columns = ['Blmngtn'], inplace = True)
test_dummy.drop(columns = ['Blmngtn'], inplace = True)

KeyError: "['Blmngtn'] not found in axis"

In [ ]:
#join the dummies on the original dataframe
train_full = train.join(train_dummy)
test_full = test.join(test_dummy)

#put all the columns in test the same order as train
test_full = test_full[train_full.drop(columns = "SalePrice").columns]

In [ ]:
test_full.columns

In [ ]:
train_full.columns

In [ ]:
#preprocessing and modeling

In [ ]:
#define features
features = ['Overall Qual', 'Lot Area']
features.extend(train_dummy.columns)

In [ ]:
#define X and y
X = train_full[features]
y = train_full["SalePrice"]

In [ ]:
#create test and train variables
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
print(X_train.shape, X_test.shape)

In [ ]:
#establish baseline model for comparison
#this is a naive model
y_train_baseline = [y_train.mean()]*len(y_train)
y_test_baseline = [y_train.mean()]*len(y_test)

In [ ]:
print(f"baseline RMSE - train : {mean_squared_error(y_train, y_train_baseline)*.5}")
print(f"baseline RMSE - train : {mean_squared_error(y_test, y_test_baseline)*.5}")

In [56]:
#LINEAR REGRESSION
lr= LinearRegression()
lr.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
print(f"baseline RMSE - train : {mean_squared_error(y_train, lr.predict(X_train))*.5}")
print(f"baseline RMSE - train : {mean_squared_error(y_test, lr.predict(X_test))*.5}")

In [55]:
lr.coef_

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [ ]:
pd.DataFrame({
    'column' : X.columns,
    'coef' : lr.coef_
}).head()

In [52]:
##################################
# USE MODEL TO MAKE PREDITIONS FOR KAGGLE
X_kaggle = test_full.loc[:,features]
X_kaggle.head()

,Overall Qual,Lot Area,Neighborhood_Blmngtn,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
Id,,,,,,,,,,,,,,,,,,,,,
2658,6,9142,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2718,5,9662,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2414,7,17104,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1989,5,8520,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
625,6,9500,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
X_kaggle["SalePrice"] = lr.predict(X_kaggle)
X_kaggle.head()

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [54]:
# Set output to be dataframe with only SalePrice
output = X_kaggle[["SalePrice"]]
output.head()

KeyError: "None of [Index(['SalePrice'], dtype='object')] are in the [columns]"

In [ ]:
## save output to csv 

output.to_csv('./datasets/first_submission.csv')